# Django
DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=dj2afgo-in53sere-cggfg4ae-ef345
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/got_tracker

# CSRF / CORS (для интеграции с фронтом на Vite :5173)
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8080,http://localhost:8080,http://212.116.115.41:8080,http://craft-hookah.ru:8080,http://www.craft-hookah.ru:8080,https://www.got.craft-hookah.ru,http://www.got.craft-hookah.ru
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Cookies (Lax подходит для dev на localhost)
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax

# Prod-only (не обязательно для dev)
# SESSION_COOKIE_SECURE=true
# CSRF_COOKIE_SECURE=true


